body { 
background-image: url(./assets/1631537057129725778.jpg);  
background-repeat: no-repeat;
background-position: top;
background-size: cover;
background-attachment: fixed;
margin: 0;
}

header {
    background: linear-gradient(180deg, #17120e, #544037);
    border-bottom: 1px solid #99806c;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #b9b9b9;
    padding: 10px;
}

div.main {
    font-size: 30px;
    color: #b9b9b9;
    margin: 25%;

}

div.main:hover {
    color: #99806c;
    cursor: pointer;
}
div.onClick {
    display: flex;
}

svg {
    display: inline-block;
    margin: 9px;
    width: 20px;
    height: 20px;
}

div svg.down {
    visibility:visible;
    opacity: 1;
     transition: .2s;
}

div:hover >svg.down {
    visibility:hidden;
    opacity: 0;
}

div svg.up {
    visibility:hidden;
    opacity: 0;
     transition: .2s;
}

div:hover >svg.up {
    visibility:visible;
    opacity: 1;
}

div img {
     visibility:hidden;
     opacity: 0;
     transition: .4s;
     height: 50%;
     width: 50%;
 }

 div:hover >img {
     visibility:visible;
     display: flex;
     justify-content: center;
     opacity: 1;

 }
 